<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="vm.sidenavOpen">
	<md-toolbar>
		<h1 class="md-toolbar-tools">Search for recipe</h1>
	</md-toolbar>

	<md-content layout-padding>
	    <div layout="row">
	      <md-input-container style="margin-right: 10px;">
	        <label>Cuisine</label>
	        <md-select ng-model="recipe.cuisine">
	        	<md-optgroup label="Cuisine">
	          	<md-option ng-repeat="cuisine in vm.cuisines" value="{{cuisine}}">{{cuisine | uppercase}}</md-option>
	        </md-select>
	      </md-input-container>
	      <md-input-container>
	        <label>Type</label>
	        <md-select ng-model="recipe.type">
	        	<md-optgroup label="Type">
	          	<md-option ng-repeat="type in vm.types" value="{{type}}">{{type | uppercase}}</md-option>
	        </md-select>
	      </md-input-container>
	    </div>
		<md-input-container>
			<label for="title">Recipe</label>
			<input type="text" id="title" ng-model="recipe.name" md-autofocus>
		</md-input-container>
		<md-button ng-click="vm.searchRecipe(recipe); recipe.cuisine = ''; recipe.type = ''; recipe.name ='';" class="md-primary">
			Search
		</md-button>

		<md-button ng-click="vm.closeSidebar()" class="md-warn">
			Cancel
		</md-button>

		<md-content class="md-padding" layout-wrap>
			<md-card ng-repeat="recipe in vm.recipes" class="foodcard">
				<img ng-click="vm.saveRecipe(recipe)" ng-src="{{ recipe.image }}" alt="image">
				
				<md-card-content>
					<div class="recipe-info">
						<h2 class="md-title">{{ recipe.title }}</h2>
						<p></p>
					</div>
				</md-card-content>
			</md-card>
		</md-content>
	</md-content>
</md-sidenav>
