<md-toolbar>
	<div class="md-toolbar-tools">
		<p><strong>Foodie</strong></p>

		<md-button ng-click="vm.openSidebar()">
			<md-icon class="mdi mdi-book"></md-icon>
			New Food Item
		</md-button>

		<md-button ng-click="showFilters = !showFilters">
			<md-icon class="mdi mdi-magnify"></md-icon>
			Filters
		</md-button>

		<md-button ng-click="vm.searchRecipes()">
			<md-icon class="mdi mdi-magnify"></md-icon>
			Recipes
		</md-button>

		<md-button ng-click="vm.searchProducts()">
			<md-icon class="mdi mdi-magnify"></md-icon>
			Products
		</md-button>

		<md-button ng-click="vm.searchFridge()">
			<md-icon class="mdi mdi-fridge"></md-icon>
			Fridgify
		</md-button>
	</div>

</md-toolbar>

<div class="filters" layout="row" layout-align="center center" ng-show="showFilters">
	
	<md-input-container>
		<label>Enter search</label>
		<input type="text" ng-model="fooditemsFilter">
	</md-input-container>

	<md-input-container>
		<label>Category</label>
		<md-select ng-model="category">
			<md-option ng-repeat="category in categories" value="{{ category }}">{{ category }}</md-option>
		</md-select>
	</md-input-container>

	<div layout="row">
		<md-button class="md-warn" ng-click="fooditemsFilter = ''; category = ''">Clear</md-button>
	</div>
</div>

<ui-view></ui-view>

<md-content class="md-padding" layout="row" layout-wrap>
	<md-card ng-repeat="fooditem in vm.fooditems | filter: fooditemsFilter | filter: category" flex="30" class="foodcard">
		<img ng-src="{{ fooditem.image }}" alt="image">
		
		<md-card-content>
			<div class="fooditem-info" ng-show="!showContact">
				<h2 class="md-title">{{ fooditem.title }}</h2>
				<h2>{{ fooditem.posted | date }}</h2>
				<h3>{{ fooditem.price | currency }}</h3>
				<p>{{ fooditem.description }}</p>
			</div>

			<div class="fooditem-contact" ng-show="showContact">
				<p><md-icon class="mdi mdi-account"></md-icon> {{ fooditem.contact.name }}</p>
				<p><md-icon class="mdi mdi-phone"></md-icon> {{ fooditem.contact.phone }}</p>
				<p><md-icon class="mdi mdi-email"></md-icon> {{ fooditem.contact.email }}</p>
			</div>

			<div layout="row">
				<md-button 
					ng-click="showContact = true"
					ng-show="!showContact">
					Contact
				</md-button>

				<md-button
					ng-click="showContact = false"
					ng-show="showContact">
					Details
				</md-button>

				<md-button
					ng-click="showAdmin = true"
					ng-show="!showAdmin">
					Admin
				</md-button>

				<md-button
					ng-click="showAdmin = false"
					ng-show="showAdmin">
					Close
				</md-button>
			</div>

			<div class="food-admin" ng-if="showAdmin">
				<h3>Admin</h3>
				<div layout="row">
					<md-button ng-click="vm.editFooditem(fooditem)" class="md-primary"><md-icon class="mdi mdi-magnify"></md-icon>Edit</md-button>
					<md-button ng-click="vm.deleteFooditem($event, fooditem)" class="md-warn"><md-icon class="mdi mdi-delete"></md-icon>Delete</md-button>
				</div>
			</div>

		</md-card-content>
	</md-card>
</md-content>